@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

body {
  /* font-family: 'Syne Mono', monospace; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: white;
  margin: 80px 10px;
  background-color: rgb(10, 10, 10);
}

video {
  all: unset;

  /* width: 40vw;
  height: 30vw;
  margin: 2rem;
  background: #2c3e50; */
}

#webcamVideo {
  position: absolute;

  bottom: 5vh;
  /* left: 40%; */
  left: 5vh;
  max-width: 30%;


}

#remoteVideo {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

#hangupButton {
  display: none;
}

.button-green {

  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  transition-property: background-color, border-color, color, box-shadow, filter;
  transition-duration: .3s;
  border: 1px solid transparent;
  letter-spacing: 2px;
  min-width: 160px;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  padding: 17px 48px;
  color: #fff;
  background-color: #1ED760;
  height: 48px;


}

.btton-green :hover {
  transform: scale(1.04);
  background-color: #21e065;
}


#call {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 80%;
  text-align: center;


}

/* video::-webkit-media-controls-panel {
  display: none !important;
  opacity: 1 !important;
}

video::-webkit-media-controls {
  display: none;
} */

#callElements {
  display: none;
  background-color: black;
}

#eventsList {
  position: relative;
  width: 80%;
  left: 50%;
  transform: translate(-50%, 0);
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  /* box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.4); */
  border: white solid;
  border-radius: 10px;

  /* padding-bottom: 5px; */
}

#options {
  /* width: 100%; */
  display: flex;
}

#options>button:nth-child(1) {
  border-top-left-radius: 6px;
}

#options>button:nth-child(2) {
  border-top-right-radius: 6px;
}


#options>button {
  width: 100%;
  height: 30px;
  border: none;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  letter-spacing: 2px;
  color: #fff;
  border-bottom: white solid;
}

#options>button:not(.selected) {
  background-color: rgb(110, 110, 110);

  /* background-color: black; */
}


.selected {
  /* background-color: #03ec35; */
  background-color: rgb(10, 10, 10);
}

#list {
  overflow: hidden;
  overflow-y: scroll;
  height: 70vh;
}

#list>div {
  display: flex;
  margin-top: 5px;
  margin-bottom: 5px;
}

#list>div>div {
  width: 50%;

}


/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden;
  /* Hidden by default. Visible on click */
  /* min-width: 250px; */
  /* Set a default minimum width */
  /* margin-left: -125px; */
  width: 60%;
  left: 50%;
  transform: translate(-50%, 0);
  /* Divide value of min-width by 2 */
  background-color: #333;
  /* Black background color */
  color: #fff;
  /* White text color */
  text-align: center;
  /* Centered text */
  border-radius: 10px;
  /* Rounded borders */
  padding: 16px;
  /* Padding */
  position: fixed;
  /* Sit on top of the screen */
  z-index: 1;
  /* Add a z-index if needed */
  left: 50%;
  /* Center the snackbar */
  bottom: 30px;
  /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible;
  /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 7.5s;
  animation: fadein 0.5s, fadeout 0.5s 7.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}